*,
*::before,
*::after {
  margin:0;
  padding:0;
  color:#262626;
  text-decoration:none;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  max-width: 1350px;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 0 25px;
  margin: auto;
  line-height: 1.75;
}

.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2.5rem;
}

.h3 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
}

.text-small {
  font-size: small;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content:center;
}

.flex-justify-space-between {
  justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.gap-xl {
  gap: 60px;
}

.gap-l {
  gap: 40px;
}

.inline-block {
  display: inline-block;
}

.menu-item:not(:first-child):before {
  content: '|';
  padding-left: 16px;
  padding-right: 16px;
}

/* Me */
/* .menu-item:not(:first-of-type) {
  border-left: 1px solid rgb(0, 0, 0);
  padding-left: 37px;
} */

.list-style-none {
  list-style: none;
}

.margin-auto {
  margin: auto;
}

.padding-y-xxl {
  padding: 100px 0;
}

.padding-y-m {
  padding: 30px 0;
}

.padding-y-s {
  padding: 20px 0;
}

.flex-1 {
  flex: 1;
}

/* Me */
.padding-t-xs {
  padding-top: 10px;
}

.padding-left-xs {
  padding-left: 10px;
}

.bordered {
  border-color: #262626;
  border-style: solid;
  border-width: 1px;
}

.top-bordered {
  border-top-color: #262626;
  border-top-style: solid;
  border-top-width: 1px;
}

.width-fit {
  width: fit-content;
}

.max-width-full {
  width: 100%;
}

.rounded {
  border-radius: 100%;
}

.presentation > * {
  max-width: 450px;
}

.bg-yellow {
  background-color: #EEA302;
}

.bg-red {
  background-color: #E13B25;
}

.bg-blue {
  background-color: #80D8DA;
}

.button {
  width: 80px;
  min-height: 80px;
}

img {
  font-style: italic;
  vertical-align: middle;
  object-fit: fit;
  shape-margin: 1rem;
}

.font-weight-normal {
  font-weight: 400;
}

ul {
  padding-left: 1.5rem;
}

.bottom-bordered {
  border-bottom-color: #262626;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.max-width-1100 {
  max-width: 1100px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-540 {
  max-width: 540px;
}

.height-40 {
  height: 40px;
}

.resize-none {
  resize: none;
}

.height-150 {
  height: 150px;
}

.width-150 {
  width: 150px;
}

.padding-y-xs {
  padding: 10px 0;
}

input, textarea {
  font-size: 1rem;
  border-width: 2px;
  padding: 10px 5px;
  border-radius: 5px;
  width: 100%;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

/************************/

.gap-m {
  gap: 30px;
}

.gap-s {
  gap: 16px;
}

.pl-0 {
  padding-left: 0;
}

/* sm */
@media screen and (min-width: 520px) {
  .sm-flex-row {
    flex-direction: row;
  }

  .sm-flex-justify-space-between {
    justify-content: space-between;
  }

  .sm-text-left {
    text-align: left;
  }
}

/* md */
@media screen and (min-width: 640px) {
  .md-flex {
    display: flex;
  }

  .md-flex-row {
    flex-direction: row;
  }

  .md-flex-justify-center {
    justify-content: center;
  }

  .md-gap-l {
    gap: 40px;
  }

  .md-text-left {
    text-align: left;
  }

  .md-gap-0 {
    gap: 0;
  }
}

/* lg */
@media screen and (min-width: 950px) {
  .button {
    width: 100px;
    min-height: 100px;
  }

  .lg-flex-row {
    flex-direction: row;
  }

  .lg-text-left {
    text-align: left;
  }

  .lg-flex-justify-start {
    justify-content: flex-start;
  }
}

/* xs */
@media screen and (min-width: 320px) {
  .xs-flex-row {
    flex-direction: row;
  }

  .xs-text-left {
    text-align: left;
  }
}

/* sm */
@media screen and (max-width: 520px){
  .padding-left-xs {
    padding-left: 0;
  }

  .xs-text-left {
    text-align: left;
  }

  button {
    margin: auto;
  }

  button.width-150 {
    width: 100px;
  }
  
  button.height-150 {
    height: 100px;
  } 
}